.menu-item {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  height: 1.75rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  width: 1.75rem;
  &--light {
    color: #3d3535;
  }
  &--dark {
    color: #e4dede;
  }
  svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
  }

  &:hover,
  &.is-active {
    background-color: #074584;
    color: aliceblue;
  }
}
